/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:500&display=swap');

/* Colors */
.highlight{
    background-color:#0066cc;
}

/* Html */
html{
    font-size: 62.5%;
}

/*Hero Section*/
.hero{
    height: 100vh;
    background: url("../images/gig2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.opaque-overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
}

#hero-text{
    margin-top: 30vh;
}

#hero-heading{
    color: #fff;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 5rem;
    padding-bottom: 2rem;
}

#search-box-outer{
    padding: 15px;
    background: rgba(25, 70,105, 0.5);
}

#search-row{
    margin: 0;
}

#search-by, #user-input, #date-from, #date-to, #search-btn{
    /* width: 10vw; */
    /* border: 0; */
    /* height: 3rem; */
}

#search-btn{
    width: 100%;
}

/* Calendar */
.is-selected {
  background-color: #286090;
  color: white;
}

.is-selected:hover {
  background-color: #204d74 !important;
}

/* Results Section */
.hidden{
    display: none;
}

#results-section{
    padding: 5px 0px 5px 0px;
}

#data-table{
    padding: 0 10px 0 10px;
}

#thead-custom{
    background-color: #0066cc;
    color: #ffffff; 
}

.table{
    font-family: 'Lato', 'sans-serif';
}

#data-col{
    padding: 0px;
}

#map-col{
    padding-right: 10px;
}

#map{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*Footer*/
#footer-container{
    height: 5.6rem;
    background-color: #0066cc;
}

#sk-image{
    max-width: 26px;
    height: auto;
    padding-bottom: 10px;
}

#social-links{
    text-align: center;
    margin: 0px;
}

#social-links li {
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}

#social-links i {
    font-size: 26px;
    margin-top: 13px;
    color: #fff;
}
/* Modal */
.modal-title{
    font-family: 'Lato', 'sans-serif';
    color: #fff;
}

.modal-header{
    background-color: #0066cc;
}

.modal-footer{
    align-items: flex-start;
    justify-content: space-between;
}

#modal-footnote{
    font-family: 'Lato', 'sans-serif';
}

#modal-closeBtn{
    flex: right;
}

#modal-closeBtn:hover{
    background-color: #000;
}

.close{
    color:#fff;
    text-shadow: none;
    opacity: 1;
}

.close:hover{
    color: #fff;
}