/*Hero Section*/
#hero-heading{
    color: #fff;
    z-index: 3;
    text-align: center;
    padding-top: 170px;
}

.hero{
    height: 100vh;
    background: url("../images/gig2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.opaque-overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
}

#search-box-outer{
    width: 75vw;
    padding: 15px;
    background: rgba(25, 70,105, 0.5);
    position: absolute;
    top: 50vh;
    left: 10vw;
}

#search-row{
    margin: 0;
}

#search-btn{
    width: 145px;
}


/* Table Section */
#results-section{
    padding: 0px;
}

#data-table{
    padding: 10px;
    /* background-color: #343a40; */
}

#data-col{
    padding: 0px;
}

#mapandvid-col{
    padding: 0px;
}

#map-col{
    padding: 0px;
    overflow: hidden;
}

#map-col iframe{
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#ytvid-col{
    padding: 0px;
    height: 300px;
    overflow: hidden;
}

#ytvid-col iframe{
    width: 100%;
    padding: 0;
}

#linkcol{
    padding-left: 0px;
}

#skimg{
    width: 100px;
    height: auto;
}

/* Map Section */
#map{
    height: 300px;
    width: 100%;
    overflow: hidden;
    /* margin: auto; */
}

/*Footer*/
#footer-container{
    height: 56px;
    background-color: #ffffff;
}

#social-links{
    text-align: center;
}

#social-links li {
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}

#social-links i {
    font-size: 26px;
    margin-top: 13px;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#social-links i:hover {
    color: #d32f2f;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}