/* Navbar and Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -255px;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
}
 
.sidebar.active {
    left: 0;
}



/*Hero Section*/
#hero-heading{
    color: #fff;
    z-index: 3;
    text-align: center;
    padding-top: 170px;
}

.hero{
    height: 100vh;
    background: url("../images/gig2.jpg") center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.opaque-overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
}

#search-box-outer{
    width: 75vw;
    padding: 15px;
    background: rgba(25, 70,105, 0.5);
    position: absolute;
    top: 50vh;
    left: 10vw;
}

#search-row{
    margin: 0;
}

#search-btn{
    width: 145px;
}


/* Table Section */
#data-table{
    padding: 0px;
    background-color: #343a40;
}

/* #table tr td, #table tr th{
    background-color: rgba(210,130,240, 0.3) !important;
} */

#linkcol{
    padding-left: 0px;
}

#skimg{
    width: 100px;
    height: auto;
}

.pagination-info{
    color: #fff;
}

.page-list{
    color: #fff;
}

/* Map Section */
#map{
    height: 300px;
    width: 66%;
    margin: auto;
}

/*Footer*/
#footer-container{
    height: 56px;
    background-color: #ffffff;
}

#social-links{
    text-align: center;
}

#social-links li {
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}

#social-links i {
    font-size: 26px;
    margin-top: 13px;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#social-links i:hover {
    color: #d32f2f;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}